html {
	font-family: 'Poppins';
}

body, ul {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
	background-color: #e3e3e3;
	/*position: relative;*/
}

ul li {
	display: inline-block;
}

ul li a {
	color: #292929;
	text-decoration: none;
	padding: 15px;
	display: block;
}

ul li:hover{
	background-color: lightgrey;
}

ul ul {
	display: none;
	position: absolute;
	min-width: 200px;
	background-color: lightgrey;
}

ul li:hover ul {
	 display: block;
}

ul ul li {
	display: block;
	background-color: #e3e3e3;
}

li a i {
	 color: #292929;
	 padding-left: 15px;
}
nav div{
	color: #292929;
	background-color: lightgrey;
	cursor: pointer;
	font-size: 24px;
	padding: 0.6em;
	display: none;
}

@media(max-width: 768px) {
	nav div {
		display: block;
	}

	ul {
		 display: none;
		 position: static;
		 background: #e3e3e3;
	}

	ul li {
		display: block;
	}

	ul ul {
		position: static;
		background-color: lightgrey;
	}
}